.root {
    -fx-background-color: #91ffde;
}

.button {
    -fx-background-color: #00c9bc;
    -fx-border-color: #00949e;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-border-width: 2px;
    -fx-font-family: Constantia;
    -fx-font-size: 12px;
}

.text-field {
    -fx-background-color: #c4ffed;
}

.list-view .list-cell:even {
    -fx-background-color: #82ffd1;
}
.list-view .list-cell:odd {
    -fx-background-color: #b3ffe4;
}

.list-view .list-cell:selected {
    -fx-background-color: #00d696;
}

.label {
    -fx-font-family: Constantia;
    -fx-font-size: 12px;
    -fx-text-fill: black;
}

.list-view .list-cell{
    -fx-font-family: Constantia;
}

.menu-button {
    -fx-background-color: #00c9bc;
}

.menu-item {
    -fx-background-color: #82ffd1;
}